[alias]
        # TBC
[core]
        # Use custom `.gitignore`
        excludesfile = ~/Dropbox/Documents/bash/.gitignore_global
[color]
        # Use colors in Git commands that are capable of colored output when outputting to the terminal
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[user]
        name = Yasyf Mohamedali
        email = yasyfm@gmail.com
[credential]
        helper = osxkeychain
[push]
	default = simple
